<header id="dashboard_header">
<div id="auto_refresh">
<% if auto_refresh? %>
  <meta http-equiv="REFRESH" content="60">
  <%= button_to "Autorefresh Off", auto_refresh_path, :class => 'new_obj_link awesome_button' %>
<% else %>
  <%= button_to "Autorefresh On", auto_refresh_path, :class => 'new_obj_link awesome_button' %>
<% end %>
</div>
<h1>Dashboard</h1>
</header>
<%= render :partial => 'waiting_for_hr' %>
<%= render :partial => 'in_flight_users' %>
<%= render :partial => 'actionable_requests' %>
<%= render :partial => 'owner_of_resource_waiting_for_request_assignment' %>
<%= render :partial => 'requests_in_progress' %>
<%= render :partial => 'termination_requests' %>
<%= render :partial => 'help_desk_requests' %>
<%= render :partial => 'recent_activity' %>

<%= render :partial => 'users/permissions', :locals => {:user => current_user } %>