<%= form_tag('/preferences', :method => :put) do %>
  <div class="field" >
    <%= label_tag 'Preferred items per page:' %>
    <%= select_tag "preferences[preferred_items_per_page]", options_for_select( [[20,20], [40,40], [60,60], [80,80], [100,100]], current_user.preferred_items_per_page) %> 
  </div>
  <% if current_user.manager? %>
    <% if current_user.preferred_viewable_departments %>
      <div class="field">    
        <%= label_tag 'Viewable departments during user creation:' %>
        <%= select_tag "preferences[preferred_viewable_departments].key", options_for_select(Department.alphabetical.map{|d| [d.name, d.id]}, Department.where(id: current_user.viewable_departments).map(&:id)),multiple: true %>
       </div>  
    <% else %>
    <div class="field">    
      <%= label_tag 'Viewable departments during user creation:' %>
      <%= select_tag "preferences[preferred_viewable_departments].key", options_for_select(Department.alphabetical.map{|d| [d.name, d.id]}), multiple: true %>
    </div>  
    <% end %>    
  <% end %>  
    <p><b>Note:</b> All departments are selected by default.  Select multiple continuous items with the shift key, and multiple, non-continuous items with the ctrl key</p>
  <div class="field" >
    <%= submit_tag "Save" %>
  </div>  
<% end %>

