<h1>Select permissions to remove for <%= @user.full_name %></h1>
<%= form_for(@user) do |f| %>
  <% if @access_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this access_request from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="chunker_container">
    <legend>Permissions</legend>
    <%= render :partial => 'users/permissions', :locals => {:user => @user} %>
  </fieldset>
  
  <div class="actions">
    <%= f.submit "Save", :class => 'awesome_button' %>
  </div>
<% end %>