<div class="slide_out">
  <div class="slide_out_section">
    <h5 class="section_header"><strong>Access Request for <%= @access_request.user.full_name %></strong> <span>(<%= link_to @access_request.user.login, user_path(@access_request.user) %>) <%= @access_request.user.job.name %>, <%= @access_request.user.job.department.name %></span></h5>
    <div class="slide_out_article">
      <% if @access_request.reason?(:new_hire) %><p id="new_user_warning">New Employee Request! Start Date: <%= @access_request.user.start_date %></p><% end %>
      <% if @access_request.reason?(:termination) %><p id="termination_warning">Termination Request!<%= ' Be sure to process immediately.' unless @access_request.completed? %></p><% end %>
      <p class="status_image <%= access_request_status_image(@access_request) %>">Current Status: 
        <span><%= @access_request.current_state.humanize %></span>
        <%= " #{@access_request.completed_at.to_s(:long)} by #{@access_request.completed_by.full_name}" if @access_request.completed? %>
        <%= ", assigned to #{@access_request.current_worker.full_name}" unless @access_request.current_worker.blank? %></p>
      <p class="status_image <%= @access_request.revocation? ? 'take_away' : 'add_something' %>">Request Action: <span><%= @access_request.request_action.titleize %> (<%= @access_request.reason.titleize %>)</span></p>
      <p class="requested_resource">Resource: <span><%= @access_request.resource.long_name %></span></p>      
    </div>
  </div>
  <div class="slide_out_section">
    <h5 class="section_header">Current Progress</h5>
    <%= render :partial => 'access_requests/show/current_status' %>
    <% if @access_request.can_be_canceled_by?(current_user) %>
      <div id="cancel_request_button">
        <%= button_to "Cancel Access Request", cancel_access_request_path(@access_request), :class => 'awesome_button negative_awesome_button employee_actions', :confirm => "Are you sure you want to cancel this access request?" %>
      </div>
    <% end %>
    <% unless @access_request.can_only_be_viewed_by?(current_user) %>
      <%= render :partial => "access_requests/show/#{@access_request.current_state}" %>
    <% end %>
  </div>
</div>
<%= render :partial => 'notes' %>
